.wrapper {
  padding: 16px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;

  .wallet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
  }
}
