$neutral0: #FFF;
$neutral100: #F9FAFB;
$neutral400: #C4CDD5;
$neutral500: #919EAB;
$neutral600: #637381;
$neutral800: #212B36;
$neutral900: #161C24;

$primary300: #0098EA;
$primary500: #168ACD;
$primary30008: rgba($primary300, 0.08);
$primary30012: rgba($primary300, 0.12);

$info500: #3F56FF;
$info50008: rgba($info500, 0.08);
$error500: #FF4635;
$error50008: rgba($error500, 0.08);
$warning500: #FFA202;
$warning50008: rgba($warning500, 0.08);

$disabled100: #2A313A;

$transparent50016: rgba($neutral500, 0.16);
$transparent50048: rgba($neutral500, 0.48);

$focusBorderShadow: 0 0 0 4px rgba($primary300, 0.3);


