@import 'src/assets/styles/helpers/all';

.wrapper {
  padding: 16px 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;

  .isEmpty {
    @include headline-h4($neutral400);
    align-items: center;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .block {
    margin-bottom: 16px;

    h4 {
      padding-bottom: 12px;
    }
  }

  .transactions {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
